/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// dt-formatter: indent = "  "
// dt-formatter: reindentMultilineIntegerCells = "dedent"

/ {
  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick-tap-ms = <0>;
      flavor = "tap-preferred";
      bindings =
        <&kp>,
        <&kp>;
    };
  };

  combos {
    compatible = "zmk,combos";

    tab {
      bindings = <&trans>;
      key-positions = <2 3>;
    };

    ctrl {
      bindings = <&kp LCTRL>;
      key-positions = <26 27>;
    };

    cmd {
      bindings = <&kp LCMD>;
      key-positions = <37 38>;
    };

    alt {
      bindings = <&kp LEFT_ALT>;
      key-positions = <39 40>;
    };

    shift {
      bindings = <&kp LSHIFT>;
      key-positions = <8 9>;
    };

    caps_word {
      bindings = <&caps_word>;
      key-positions = <17 18>;
    };

    delete {
      bindings = <&kp DEL>;
      key-positions = <32 33>;
    };
  };

  macros {
    zed_em_kay: zed_em_kay {
      compatible = "zmk,behavior-macro";
      label = "ZM_zed_em_kay";
      #binding-cells = <0>;
      bindings =
        <&macro_press>,
        <&kp LSHFT>,
        <&macro_tap>,
        <&kp Z &kp M &kp K>,
        <&macro_release>,
        <&kp LSHFT>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    base {
      bindings = <
         &kp TAB  &kp Q  &kp W  &kp F  &kp P      &kp B      &kp J   &kp U      &kp U       &kp Y  &kp APOSTROPHE  &kp BSPC
  &kp LEFT_SHIFT  &kp A  &kp R  &kp S  &kp T      &kp G      &kp M   &kp N      &kp E       &kp I           &kp O    &trans
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C  &kp D      &kp V      &kp K   &kp H  &kp COMMA  &kp PERIOD       &kp SLASH    &trans
                                &mo 2  &mo 1  &kp SPACE    &kp RET  &trans     &trans
      >;
    };

    Num {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans        &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans        &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp NUMBER_1  &kp N2  &kp N3  &trans  &trans
                        &trans  &trans  &trans    &trans        &kp N0  &trans
      >;

      label = "Num";
    };

    Fun {
      bindings = <
&kp ESC  &trans  &trans  &trans  &trans  &trans    &trans  &kp F7  &kp F8  &kp F9  &kp F12  &kp LC(PAUSE_BREAK)
 &trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp F4  &kp F5  &kp F6  &kp F11          &kp RC(INS)
 &trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp F1  &kp F2  &kp F3  &kp F10          &kp RS(INS)
                         &trans  &trans  &trans    &trans  &trans  &trans
      >;

      label = "Fun";
    };
  };
};
